.p-banner-content-center {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 400px;
	background-image: url(/images/banner-image-mobile.png);
	background-position: center;
	background-size: cover;
	@include retina (1.2, 120) { background-image: url(/images/banner-image-mobile@x2.png); }
	@include retina (2, 200) { background-image: url(/images/banner-image-mobile@x3.png); }
	.banner-content-wrapper {
		@include absolute-center;
		width: 80%;
	}
	.banner-heading {
		margin-bottom: 60px;
		font-size: 60px;
		font-weight: $medium;
		text-align: center;
	}
	.banner-description-short {
		font-size: 20px;
		text-align: center;
	}
	.banner-description-long { display: none; }
}

@media (min-width: $breakpoint-mobile) {
	.p-banner-content-center {
		background-image: url(/images/banner-image-tablet.png);
		@include retina (1.2, 120) { background-image: url(/images/banner-image-tablet@x2.png); }
		@include retina (2, 200) { background-image: url(/images/banner-image-tablet@x3.png); }
		.banner-content-wrapper { width: 70%; }
		.banner-heading { margin-bottom: 50px; font-size: 60px; }
		.banner-description-short { display: none; }
		.banner-description-long {
			display: block;
			line-height: 1.2;
			font-family: Helvetica;
			font-size: 24px;
			text-align: center;
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.p-banner-content-center {
		.banner-content-wrapper { width: 50%; min-width: 720px; }
		.banner-heading { font-size: 80px; margin-bottom: 45px; }
	}
}