.p-text-section {
	.text-main {
		padding-top: 40px;
		padding-bottom: 70px;
		background-color: #fbfbfb;
	} 
	.section-header {
		text-align: center;
		.header-top {
			font-size: 14px;
			color: #999;
			margin-bottom: 40px;
		}
		.header-title {
			margin-bottom: 45px;
			font-weight: 500;
			font-size: 40px;
		}
	}
	.section-content{
		line-height: 1.5;
		font-weight: 300;
		font-size: 18px;
	}
	.social-networks {
		padding: 80px 0 70px;
		text-align: center;
		.social-networks-top {
			margin-bottom: 35px;
			font-size: 14px;
			color: #999;
		}
		.social-networks-wrapper {
			width: 143px;
			margin: 0 auto;
			li {
				float: left;
				margin-right: 15px;
				&:last-child { margin-right: 0; }
			}
			.social-networks-icons {
				display: block;
				padding: 17px;
				font-size: 30px;
				color: #fff;
			}
			.social-networks-icon-twitter { background-color: #20b9ff; }
			.social-networks-icon-facebook { background-color: #3c5a9a; }
		}
	}
}

@media (min-width: $breakpoint-mobile) {
	.p-text-section {
		.text-main {
			padding-top: 90px;
			padding-bottom: 135px;
			.header-top { margin-bottom: 45px; }
			.header-title {
				font-weight: 400;
				font-size: 50px;
				margin-bottom: 60px;
			}
		}
		.section-content { line-height: 1.4; }
		.social-networks {
			padding: 95px 0;
			.social-networks-top {
				margin-bottom: 25px;
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.p-text-section {
		.social-networks {
			padding: 105px 0;
		}
	}
}