.p-three-items {
	.single-item {
		padding-top: 55px;
		padding-bottom: 55px;
		&:nth-child(odd) { background-color: #fbfbfb; }
	}
	.item-media-wrapper {
		width: 100%;
		height: 100%;
		.item-media {
			width: 74px;
			height: 74px;
			margin: 0 auto 30px;
			background-size: cover;
			background-position: center;
			&.triangle {
				width: 88px;
				height: 75px;
				background-image: url(/images/triangle.png);
				@include retina (1.2, 120) { background-image: url(/images/triangle@x2.png); }
				@include retina (2, 200) { background-image: url(/images/triangle@x3.png); }
			}
			&.circle {
				background-image: url(/images/circle.png);
				@include retina (1.2, 120) { background-image: url(/images/circle@x2.png); }
				@include retina (2, 200) { background-image: url(/images/circle@x3.png); }
			}
			&.square {
				background-image: url(/images/square.png);
				@include retina (1.2, 120) { background-image: url(/images/square@x2.png); }
				@include retina (2, 200) { background-image: url(/images/square@x3.png); }
			}
		}
	}
	.item-heading-wrapper { margin-bottom: 30px; }
	.item-heading {
		font-size: 20px;
		font-weight: 700;
		text-align: center;
	}
	.item-content{
		line-height: 1.5;
		font-weight: 300;
		font-size: 18px;
		text-align: center;
	}
}

@media (min-width: $breakpoint-mobile) {
	.p-three-items {
		.single-item {
			float: left;
			width: 33.3333%;
			padding: 43px 20px 60px;
			.item-media { width: 61px; height: 61px; }
			.item-media.triangle { width: 73px; height: 62px; }
			.item-heading-wrapper { margin-bottom: 25px; }
			.item-content { font-size: 17px; }
		}
	}
}

@media (min-width: $breakpoint-mobile) {
	.p-three-items {
		.single-item {
			padding: 95px 55px 70px;
			.item-media {
				width: 86px;
				height: 86px;
				margin: 0 auto 40px;
			}
			.item-media.triangle { width: 103px; height: 88px; }
			.item-content { line-height: 1.4; font-size: 16px; }
		}
	}
}
