.p-vertical-list {
	padding-top: 120px;
	.section-header {
		margin-bottom: 80px;
		text-align: center;
		.header-top {
			margin-bottom: 20px;
			font-weight: 400;
			font-size: 14px;
			color: #999;
		}
		.header-title {
			margin-bottom: 40px;
			font-weight: 500;
			font-size: 40px;
		}
		.header-description {
			line-height: 1.5;
			font-weight: 300;
			font-size: 20px;
		}
	}
	.single-item {
		padding-top: 30px;
		padding-bottom: 30px;
		.single-item-right {
			display: none;
			float: right;
			width: 33.3333%;
			margin: 45px 0;
			text-align: right;
		}
		&.odd-article { background-color: #ededed; }
		&.even-article { background-color: #fff; }
		.item-heading {
			margin-bottom: 20px;
			font-weight: 500;
			font-size: 17px;
		}
		.item-description {
			font-weight: 300;
			font-size: 15px;
			line-height: 1.3;
			margin-bottom: 20px;
		}
		.article-tag { margin-right: 10px; }
	}
	.load-more {
		margin: 100px 0;
		text-align: center;
		.btn-load-more {
			color: #333;
			background-color: #d7d7d7;
		}
	}
}

@media (min-width: $breakpoint-mobile) {
	.p-vertical-list {
		.section-header {
			margin: 160px auto 60px;
			padding: 0 160px;
			.header-top { margin-bottom: 40px; }
			.header-title {
				margin-bottom: 50px;
				font-size: 50px;
				font-weight: 400;
			}
			.header-description { font-size: 24px; line-height: 1.3; }
		}
		.single-item {
			.single-item-content { float: left; width: 66.6667%; }
			.item-heading { font-size: 20px; }
			.item-description { font-size: 14px; }
			.single-item-right { display: block; }
			&.even-article {
				background-color: #222;
				color: #f2f2f2;
				.even-article-btn {
					border-color: #f2f2f2;
					color: #f2f2f2;
					&:hover {
						background-color: #f2f2f2;
						color: #222;
					}
				}
			}
		}
		.load-more { margin: 122px 0; }
	}
}

@media (min-width: $breakpoint-tablet) {
	.p-vertical-list {
		.section-header {
			margin: 140px auto 90px;
			.header-title { margin-bottom: 60px; }
		}
		.single-item {
			padding: 50px 0;
		}
		.load-more { margin: 90px 0 140px; }
	}
}