.l-footer {
	background-color: #222;
	.contacts {
		padding-top: 65px;
		padding-bottom: 25px;
		color: #666;
	}
	.contacts-item {
		padding: 25px 0;
		.item-title-wrapper {
			margin-bottom: 5px;
			line-height: 32px;
			.item-title-icon{
				float: left;
				margin-right: 7px;
				font-size: 25px;
				color: #c41230;
			}
			.item-title {
				float: left;
				font-size: 16px;
				color: #f2f2f2;
			}
		}
		.item-content { padding-left: 7px; line-height: 1.5; }
	}
	.footer-bottom { background-color: #222; }
	.footer-bottom-contacts {
		padding-top: 5px;
		padding-bottom: 10px;
		.social-networks {
			li {
				float: left;
				margin-right: 30px;
				&:last-child { margin-right: 0; }
			}
			.social-networks-icons {
				font-size: 30px;
				color: #666;
			}
		}
		.website {
			float: right;
			padding: 15px 5px;
			font-weight: 300;
			font-size: 14px;
			color: #666;
		}
	}
	.footer-copyright {
		margin: 0 -15px;
		padding: 15px 15px 30px;
		padding-bottom: 30px;
		font-weight: 300;
		font-size: 12px;
		background-color: #1e1e1e; 
		color: #666;
	}
}

@media (min-width: $breakpoint-mobile) {
	.l-footer {
		.contacts {padding-top: 120px; padding-bottom: 70px; }
		.contacts-item {
			float: left;
			width: 30%;
			margin-right: 5%;
			&:last-child { margin-right: 0; }
			.item-content {
				font-weight: 400;
				font-size: 15px;
			}
		}
		.footer-bottom { background-color: #1e1e1e; }
		.footer-bottom-contacts {
			float: right;
			padding-top: 14px;
			padding-bottom: 14px;
			.social-networks {
				float: left;
				margin-right: 20px;
				margin-top: 5px;
			}
		}
		.footer-copyright { padding-top: 30px; }
	}
}