.l-header {
	@include fixed(0 no no no);
	width: 100%;
	background-color: #efe9db;
	z-index: 2;
	.logo-image {
		float: left;
		width: 138px;
		height: 37.2973px;
		margin: 15px 0;
		background-image: url(/images/diwanee-logo.png);
		background-position: center;
		background-size: cover;
		@include retina (1.2, 120) { background-image: url(/images/diwanee-logo@x2.png); }
		@include retina (2, 200) { background-image: url(/images/diwanee-logo@x3.png); }
	}
	.nav-links-wrapper-long { display: none; }
	.nav-icon {
		float: right;
		width: 70px;
		padding: 18px 20px;
		margin-right: -20px;
		cursor: pointer;
		overflow: hidden;
	}
	.nav-icon-line {
		float: left;
		width: 30px;
		height: 3px;
		margin-bottom: 8px;
		background-color: #000;
		transition: all 0.1s cubic-bezier(0.01, 0.18, 0.24, 0.49);
	}
	.nav {
		@include fixed (69px no no no);
		width: 100%;
		height: 100%;
		height: calc(100% - 68px); 
		background-color: rgba(#000, 0.98);
		display: none;
	}
	.nav-links-wrapper {
		position: relative;
		height: 75%;
		height: calc(100% - 84px);
		.nav-links { @include absolute-center; }
		.nav-links-item {
			display: block;
			padding: 20px 40px;
			font-size: 20px;
			color: #ccc;
			text-align: center;
			cursor: pointer;
		}
	}
	.nav-footer {
		width: 100%;
		padding: 20px;
		.nav-footer-left {
			float: left;
			margin-top: 21px;
			font-weight: 500;
			font-size: 16px;
			color: #9b9b9b;
		}
		.social-networks {
			float: right;
			li { float: left; }
		}
		.social-networks-icons { display: inline-block; }
		.nav-footer-icons {
			display: block;
			font-size: 30px;
			padding: 7px;
			color: #9b9b9b;
			transition: 0.1s;
			&:hover{ color: #fff; }
		}
	}
}
.css-js-active-nav {
	.nav { display: block; }
	.nav-icon-line:nth-child(2) { transform: translateX(50px); opacity: 0; }
	.nav-icon-line:nth-child(1) {
		transform-origin: right;
		transform: rotateZ(-45deg);
	}
	.nav-icon-line:nth-child(3) {
		transform-origin: right;
		transform: rotateZ(45deg);
	}
}

@media (min-width: $breakpoint-mobile) {
	.l-header {
		.logo-image {
			width: 129px;
			height: 34.8649px;
			margin: 25px 0;
		}
		.nav-icon { padding: 20px; margin-right: -20px; }
	}
}

@media (min-width: $breakpoint-tablet) {
	.l-header {
		.logo-image { width: 148px;	height: 40px; }
		.nav, .nav-icon { display: none; }
		.nav-links-wrapper-long { display: block; }
	}
	.nav-links-wrapper-long {
		float: right;
		padding: 20px 0;
		margin-right: -20px;
	}
	.nav-links {
		display: inline-block;
		li { float: left; }
		.nav-links-item {
			display: block;
			padding: 20px;
			font-size: 14px;
			color: #222;
			&:hover { color: $red; }
		}
	}
}