@import "reset";

// Mixins for positioning, if you want to exclude one of "top left bottom right"
// just enter "no" instead
@mixin position($position, $args) {
	position: $position;
	$offsets: top left bottom right;

	@each $o in $offsets {
		$value: nth($args, index($offsets, $o));

		@if $value != "no" {
			#{$o}: $value;
		}
	}
}

@mixin absolute($args) {
	@include position(absolute, $args);
}

@mixin fixed($args) {
	@include position(fixed, $args);
}

@mixin relative($args) {
	@include position(relative, $args);
}

// Vertical align
@mixin vertical-align {
	top: 50%;
	transform: translateY(-50%);
}

// Absolute center
@mixin absolute-center {
	@include absolute(50% 50% no no);
	transform: translate(-50%, -50%);
}

// Absolute center
@mixin fixed-center {
	@include fixed(50% 50% no no);
	transform: translate(-50%, -50%);
}

// Retina media query
// Example
// @include retina(2, 200);
@mixin retina ($pixelRatio, $dpi) {
	@media
	(-webkit-min-device-pixel-ratio: $pixelRatio),
	(   min--moz-device-pixel-ratio: $pixelRatio),
	(   -moz-min-device-pixel-ratio: $pixelRatio),
	(     -o-min-device-pixel-ratio: $pixelRatio/1),
	(        min-device-pixel-ratio: $pixelRatio),
	(                min-resolution: $dpi + 'dpi'),
	(                min-resolution: $pixelRatio + 'dppx') { 
	    @content;
	}
}

// Helper classes
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.clear { clear: both; }
.cursor-default { cursor: default !important; }
.hide-element { display: none; }

// Truncate text with ...
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wide-proportion-wrapper {
	position: relative;
	padding-top: 56.25%;
	width: 100%;
	height: 0;
	overflow: hidden;
}
.bg-wide-proportion-wrapper {
	@extend .wide-proportion-wrapper;
	background-position: center;
	background-size: cover;
}

// Z indexes
$z-indexes: (
	loader: 9999
) !default;

// Breakpoints
$breakpoint-desktop: 1440px !default;
$breakpoint-laptop: 1200px !default;
$breakpoint-tablet: 1024px !default;
$breakpoint-mobile: 768px !default;
$breakpoint-small: 480px !default;

$breakpoint-desktop-min: 1441px !default;
$breakpoint-laptop-min: 1201px !default;
$breakpoint-tablet-min: 1025px !default;
$breakpoint-mobile-min: 769px !default;
$breakpoint-small-min: 481px !default;

// Colors
$red: #c41230;

// Font-Weight
$thin: 100;
$ligth: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;
