@import "typography";
* { box-sizing: border-box; }
html, body { height: 100%; }
body {
	min-width: 320px;
	background-color: #eee;
	color: #222;
	font-family: 'Roboto', sans-serif;
}
a, a:hover, a:focus, a:active { text-decoration: none; }
a:hover, a:focus, a:active { color: $red; }
img { max-width: 100%; }
input[type="radio"] { -webkit-appearance: radio; }
.btn:active, .btn.active, .btn:focus, .btn.focus,
.btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
	outline: none;
	box-shadow: none;
}
.container {
	width: 100%;
	max-width: 940px;
	padding: 0 15px;
	margin: 0 auto;
}