.c-btn {
	padding: 13px 40px;
	border: 2px solid #222;
	font-size: 14px;
	color: #222;
	cursor: pointer;
	&.btn-fill { border: none; background-color: #d7d7d7; }
	&.btn-lg { padding: 15px 25px; }
	&.btn-tag {
		padding: 10px 0;
		border: none;
		color: $red;
		&:active, &:focus, &:visited { color: $red; }
		&:hover { background-color: transparent; }
	}
	&:active, &:focus, &:visited { color: #222; }
	&:hover {
		background-color: #222;
		color: #eee;
	}
}

@media (min-width: $breakpoint-mobile) {
	.c-btn {
		&.btn-tag {
			padding: 10px 15px;
			border: 1px solid #bbb;
			&:hover { background-color: #222; color: #eee; }
		}
	}
}