.c-underlined-title {
	padding-bottom: 30px;
	position: relative;
	&:after {
		@include absolute (no 50% 0 no);
		content: "";
		width: 50px;
		height: 2px;
		transform: translateX(-50%);
		background-color: #c4c4c4;
	}
	&.red-underline:after { background-color: $red; }
	&.underline-tablet-up {
		padding-bottom: 0;
		&:after { display: none; }
	}
}

@media (min-width: $breakpoint-tablet) {
	.c-underlined-title {
		padding-bottom: 40px;
		&.underline-tablet-up {
			padding-bottom: 40px;
			&:after { display: block; }
		}
	}
}